{% extends "templates/page.html" %}
{% block title %}{{block.super}}How to object{% endblock %}

{% block content %}

<ul>

<li><a href="https://www.frometimes.co.uk/2023/11/07/residents-urged-to-get-their-objections-in-now-over-plans-for-battery-energy-storage-site/" target="_blank">
    Residents urged to get their objections in now over plans for battery energy storage site
</a></li>
<li><a href="https://www.frometimes.co.uk/2023/08/16/frome-town-council-says-a-resounding-no-to-experimental-battery-site/" target="_blank">
    Frome Town Council says a resounding &apos;No&apos; to &apos;experimental&apos; battery site
</a></li>
<li><a href="https://www.frometimes.co.uk/2023/08/03/neighbours-unite-against-plans-for-battery-site-over-fire-risk-concerns/" target="_blank">
    Neighbours unite against plans for battery site over fire risk concerns
</a></li>
<li><a href="https://www.somersetcountygazette.co.uk/news/23665417.frome-residents-voice-concerns-battery-energy-storage-site/" target="_blank">
    Frome residents voice concerns over battery energy storage site
</a></li>

</ul>

{% endblock %}