{% extends "templates/page.html" %}
{% block title %}{{block.super}}Reasons for objection{% endblock %}

{% block content %}
<h1>The BESS site is unsuitable for Frome because&hellip;</h1>

<h2>Standards:</h2>

<ul>
    <li>BESS technology is new and as such there are no UK standards to be regulated by yet - they are under development. Standards quoted in the application are American Standards not UK standards.</li>
    <li>The UK National Fire Chief Guidelines recommend two access points to the site plus a road way for access and turning. The Trina proposal has only one access point and there is no room for a roadway.</li>
    <li>Trina have not shown that this site is the only place that a BESS could be built in this part of Somerset.</li>
</ul>

<h2>Amendment to the Energy Bill:</h2>

<ul>
    <li>Maria Miller MP is currently putting an amendment to the Energy Bill to categorise BESS sites as hazardous due to the risk of thermal runaway, creating fire, toxic & flammable gas release and explosions.</li>
    <li>Maria Miller MP's Energy Bill amendment will require the fire services, HSE & Environment Agencies to be statutory consultees to planning applications regarding BESS sites. At the moment they are not.</li>
    <li>The Fire Services can only recommend minimum distances for siting BESS units away from residential properties at the moment because of the lack of UK regulation, and also can only recommend, not demand, at least two road access points to the sites. </li>
</ul>

<h2>Proximity to residential housing, local schools & a residential home:</h2>

<ul>
    <li>The nearest house is just 32m away from the development - houses located by the field would be subject to loss of visual amenity, exposed to unacceptable noise, and be directly in the path of exploding debris & highly toxic & flammable gases should thermal runaway occur./li>
    <li>The application claims 32m is OK as it conforms to an American Standard NFPA 855. This is a totally insufficient distance for the health & safety of local residents and their property.</li>
    <li>Should thermal runaway occur a residential home, a first school (Hayesdown) and a middle school (Selwood Academy) nearby could all be affected by the toxic smoke & flammable vapour cloud. Just a little further away is the hospital & Medical Centre. The Styles Hill, New Road, St John's Rd areas and even the whole of Frome could all be affected.</li>
</ul>

<h2>Proximity to the substation & overhead power lines:</h2>

<ul>
    <li>The substation is literally just a few metres away from the BESS, being separated only by a small hedge. Should thermal runaway occur the substation could be affected by fire/explosions.</li>
    <li>There are a number of overhead power lines DIRECTLY above where the batteries would be installed. Should thermal runaway occur the power lines could be destroyed by fire/explosions and cause long-lasting power outages.</li>
</ul>

<h2>Single road access onto Styles Close & to the site:</h2>

<ul>
    <li>Styles Close is not a through road - it is a cul-de-sac with only one entrance/exit. Should a thermal runaway incident occur the road would be blocked by emergency vehicles, leaving no evacuation route for residents.</li>
    <li>Depending on the prevailing wind direction the emergency vehicles & evacuating residents could very well be engulfed in highly toxic smoke/ exploding debris should a thermal runaway incident occur.</li>
</ul>

<h2>Noise:</h2>

<ul>
    <li>Styles Close is a very quiet and peaceful cul-de-sac on the outskirts of Frome, located next to fields. Cooling fans would be running for extended periods producing an unacceptable constant low range hum despite acoustic fencing.</li>
    <li>Noise testing at a similar BESS in Taunton was found to produce at least 62dB – this is nearly double the noise levels given by Trina by only using sound modelling for their data.</li>
</ul>

<h2>Visual & amenity loss:</h2>

<ul>
    <li>The field is a quiet one, used simply for grazing one horse, and by the wildlife that live there (deer, foxes, bats, hedgehogs & owls etc). It is much valued by all of the local residents for its tranquility and peace.</li>
    <li>The BESS containers will be large, metallic & ugly, and the field would look like an industrial development. High acoustic fencing surrounding the containers & a high boundary fence might partially block the view of the containers but would also totally block the existing view of the peaceful field.</li>
</ul>

<h2>Fire & explosion hazards:</h2>

<ul>
    <li>There have been many serious incidents involving BESS sites all over the world, including one in Liverpool in Sept 2020. https://www.whatdotheyknow.com/request/876227/response/2075510/attach/5/Significant%20Incident%20Report%20Final%20redacted.pdf?cookie_passthrough=1
        <br><br>
        https://storagewiki.epri.com/index.php/BESS_Failure_Event_Database 
    </li>
    <li>Most BESS incidents have involved thermal runaway creating a highly toxic & flammable vapour cloud, fire, and explosive ejection of flaming & other debris including large container doors etc from the BESS containers –  such an incident here could seriously affect local residents, who would find it extremely difficult to evacuate if the only entrance to the Close is blocked by fire appliances.</li>
    <li>Should a thermal runaway incident happen local residents could be seriously affected by the highly toxic & corrosive gas cloud that could be produced, containing hydrogen fluoride and hydrogen cyanide amongst other noxious chemicals, as the present method of combatting these incidents is to let them burn out for a number of days.</li>
    <li>The recommended response of the Fire Service to BESS fires & explosions is to allow the fire to burn out (in the case of the Liverpool BESS fire it was allowed to burn out for 59 hours). The Fire Service would cool down the adjacent battery containers using millions of litres of water (the Liverpool BESS fire used 1.9million litres of water). <string>BUT In many instances BESS fires have reignited a few days later.</string></li>
    <li>Rodden Lake Stream flows just feet away along the northern end of the site and would bear the brunt of any run-off of coolant water that could contain toxic chemicals should a thermal runaway incident occur and the containers were sprayed with water to cool them - the River Frome also.</li>
    <li>There are questions about whether the fire hydrants nearby are sufficient to provide the copious amounts of water needed to cool the BESS containers should thermal runaway occur, in order to prevent any fires from spreading.</li>
    <li>The BESS site would be monitored remotely from Bath, which would mean a significant delay before the Fire Service could action its firefighting response.</li>
    <li>There would be a delay for the Fire Brigade to reach Frome as appliances would be coming from <strong>Taunton</strong>. The SSE duty officer would need to make the substation connections safe before fire crews could enter the site, and the Trina duty officer would need to arrive from Bath.</li>
</ul>

<h2>Biodiversity:</h2>

<ul>
    <li>The field site is home to a large amount of wildlife. Foxes, deer, hedgehogs & bats (Pygmy Pipistrelle, Common Pipistrelle, Brown Long-eared Bat, Whiskered Bat, Common Noctule, Lesser Noctule, and Serotine) all visit or have their homes here.</li>
    <li>Otters and beavers have been seen in the River Frome near here and kingfishers nest and feed very near in the vicinity of Rodden Meadow. </li>
</ul>

<h2>Contamination:</h2>

<ul>
    <li>Should a thermal runaway incident happen local residents could be seriously affected by the highly toxic & corrosive gas cloud that could be produced, containing hydrogen fluoride and hydrogen cyanide amongst other noxious chemicals, as the present method of combatting these incidents is to let them burn out for a number of days.</li>
    <li>Rodden Lake Stream flows just feet away along the northern end of the site and would bear the brunt of any run-off of coolant water that could contain toxic chemicals should a thermal runaway incident occur and the containers were sprayed with water to cool them.</li>
    <li>Rodden Lake Stream flows into the River Frome quite near to this site and any run-off from a thermal runaway incident could potentially cause harmful contamination downstream. </li>
    <li>Glyphosate weedkiller proposed for use in combatting ‘weeds’ in the compound would be extremely toxic to any wildlife that live in or visit the site & has the potential to leach into the stream to a degree due to run-off. </li>
    <li>Children play in the water in Rodden Meadow, and further downstream Frome Canoe Club makes great use of the river. Should a thermal runaway incident occur toxic chemicals could be leached into the river, potentially harming anyone who uses it.</li>
</ul>
{% endblock %}