{% extends "templates/page.html" %}
{% block title %}{{block.super}}Sign the Petition{% endblock %}

{% block content %}

<h1>Sign the Petition</h1>

<p>
    Stop Frome Battery Energy Storage Site
</p>

<p>
    Please consider signing and sharing this petition. The technology is 
    currently unregulated. This proposal affects all of us in Frome and the
    principle is of global concern. 
    <br>
    <a href="https://chng.it/bc7HVBtqHC" target="_blank">https://chng.it/bc7HVBtqHC</a>
</p>

{% endblock %}